.header {
  padding: rem(60) 0 rem(40);
}

.header__box {
  position: relative;
  width: 100%;
  height: rem(160);
  padding: rem(25) rem(50);
  background-color: var(--box-color);
  &::after {
    @include pseudo;
    display: block;
    width: rem(210);
    height: rem(70);
    top: -22%;
    right: 4%;
    background-image: url("./assets/img/html+css+js+react.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include media-mobile {
      top: 75%;
    }
  }
  @include media-mobile {
    width: 100%;
    padding: rem(10);
    order: 1;
  }
}

.header__title {
  margin-bottom: rem(10);
  @include font-source(rem(50), 300, $main-color);
  & span {
    font-weight: 500;
  }
}

.header__specialty {
  @include font-source(rem(28), 300, $main-color);
}
