.main {
  @include flex();
  @include media-mobile {
    flex-direction: column;
  }
}

.main__column {
  &:first-child {
    flex: 1 0 0%;
    background-color: $bg-color;
  }
  &:last-child {
    flex: 0 0 auto;
    width: 65%;
  }
  @include media-mobile {
    width: 100%;
  }
}
