// Font

$mainFont: "Roboto", Arial, sans-serif;

// Size

$mainFontSize: 16;
$mainFontWeight: 400;
$mainLineHeight: 1.42;

// Main color

$main-color: #ffffff;
$default-color: #535353;
$title-color: #434343;
$bg-color: #434343;
$text-color: #cccccc;
$box-color: #3a478e;
$skills-color: #f5deb3;

// Media

$mediaLarge: 992px;
$mediaMedium: 768px;
$mediaSmall: 576px;
$mediaExtraSmall: 390px;
