.about {
  padding-left: rem(50);
  padding-right: rem(20);
}

.about__title {
  margin-bottom: rem(10);
  font-size: rem(20);
  font-weight: 700;
  color: $title-color;
}

.about__text span {
  display: inline-block;
  margin-top: 3px;
  font-weight: 700;
}
