.color {
  @include flex(none, center);
  padding: rem(20) rem(50);
}

.color__text {
  margin-right: rem(10);
  color: $main-color;
}

.color__change {
  width: rem(70);
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}
