.contacts__list {
  padding-left: rem(50);
  padding-right: rem(50);
}

.contacts__item {
  @include flex(none, center, none);
  margin-bottom: rem(20);
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__icon {
  margin-right: rem(20);
}

.contacts__desc {
  @include flex(none, none, column);
}

.contacts__subtitle {
  @include font-source(rem(22), 400, $main-color);
}

.contacts__link {
  margin-bottom: rem(6);
  color: $text-color;
}
