.contacts__list {
  @extend %block-padding;
  @include media-medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: rem(20);
  }
  @include media-small {
    display: block;
  }
}

.contacts__item {
  @include flex(none, center, none);
  margin-bottom: rem(26);
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__icon {
  margin-right: rem(20);
}

.contacts__desc {
  @include flex(none, none, column);
}

.contacts__subtitle {
  @include font-source(rem(22), 400, $main-color);
}

.contacts__link {
  margin-bottom: rem(6);
  color: $text-color;
}
