.education {
  padding-left: rem(50);
  padding-right: rem(20);
}

.education__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding-left: rem(40);
  &::before {
    @extend %line;
  }
  &::after {
    @extend %circle;
    left: -3px;
  }
}

.education__major,
.education__hei {
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.8;
  color: $title-color;
}

.education__date {
  font-weight: 500;
}
