.experience {
  padding-left: rem(50);
  padding-right: rem(20);
}

.experience__list {
  position: relative;
  padding-left: rem(40);
  &::before {
    @extend %line;
  }
}

.experience__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin-bottom: rem(20);
  &::before {
    @extend %circle;
    left: rem(-43);
  }
}

.experience__position,
.experience__company {
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.8;
  color: $title-color;
}

.experience__date {
  font-weight: 500;
  white-space: nowrap;
}
