.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(16);
  padding-left: rem(50);
  padding-right: rem(50);
  @include media-tablet {
    padding: rem(16) rem(30);
  }
}

.skills__subtitle {
  position: relative;
  margin-left: rem(22);
  margin-bottom: rem(18);
  @include font-source(rem(22), 400, $main-color);
  &::before {
    @include pseudo(block, absolute, "//");
    display: block;
    left: rem(-24);
  }
}

.skills__item {
  margin-bottom: rem(10);
  color: $text-color;
}
