.section {
  width: 100%;
}

.title {
  @include font-source(rem(26), 500, $main-color);
  text-transform: uppercase;
}

.icon {
  width: rem(30);
  height: rem(30);
  fill: $main-color;
  &--telegram {
    width: rem(36);
    height: rem(36);
  }
}
