.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  @include media-large {
    box-shadow: none;
  }
  @include media-medium {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
}

.column {
  @include flex(none, none, column);
  &__name {
    display: block;
    padding: rem(30) rem(50);
    background-color: $bg-color;
    color: $text-color;
  }
  &:first-child {
    background-color: $bg-color;
    @include media-medium {
      margin-top: 20%;
      margin-bottom: 5%;
    }
  }
}

.section {
  margin-bottom: rem(40);
}

.title {
  margin-bottom: rem(40);
  @include font-source(rem(26), 500);
  text-transform: uppercase;
  &--dark {
    position: relative;
    color: $title-color;
    &::after {
      @include pseudo;
      width: 100%;
      height: 2px;
      background-color: $title-color;
    }
  }
  &--light {
    position: relative;
    padding: rem(20) rem(50);
    background-color: var(--box-color);
    color: $main-color;
    &::after {
      @include pseudo;
      width: 70%;
      height: 2px;
      background-color: $main-color;
    }
  }
}

.icon {
  width: rem(30);
  height: rem(30);
  fill: $main-color;
  &--telegram,
  &--linkedin,
  &--github {
    width: rem(36);
    height: rem(36);
  }
}

.link {
  font-size: rem(18);
  transition: text-shadow 0.2s;
  &--light {
    border-bottom: 1px dotted $text-color;
    &:hover {
      text-shadow: 3px 3px 2px rgba(0, 0, 0);
    }
  }
  &--dark {
    border-bottom: 1px dotted $title-color;
    &:hover {
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    }
  }
}
