.section {
  width: 100%;
}

.title {
  @include font-source(rem(26), 500, $main-color);
  text-transform: uppercase;
  &--color {
    color: $title-color;
  }
}

.icon {
  width: rem(30);
  height: rem(30);
  fill: $main-color;
  &--telegram {
    width: rem(36);
    height: rem(36);
  }
  &--github {
    width: rem(40);
    height: rem(40);
  }
}

.link {
  transition: text-shadow 0.2s;
  border-bottom: 1px dotted $text-color;
  &:hover {
    text-shadow: 3px 3px 2px $default-color;
  }
  &--light {
    border-bottom: 1px dotted $title-color;
    &:hover {
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    }
  }
}
